* {
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

body {
  background: url(../img/debut_light.png);/*#f2f2f2;/*rgb(178, 223, 245);*/
  height: 100%;
  width: 100%;
}

#fullscreen-btn {
  height: 20px;
  opacity: .3;
  position: absolute;
  right: 5px;
  top: 5px;
  width: 20px;
}

#fullscreen-btn:hover {
  opacity: .6;
}

#game-container {
  background-image: url(../img/bg.png);
  border: 2px solid #fff;
  border-radius: 2px;
/*   box-shadow: 0 0 2px 1px #999;/*#8bb8d2;*/
  height: 530px;
  margin: -267px auto;
  position: relative;
  top: 50%;
  width: 640px;
}

#instructions-container {
  position: absolute;
  z-index: 500;
}

#instructions-img {
  position: absolute;
  z-index: 501;
}

#instructions-close-btn {
  background: #777;
  border: none;
  border-radius: 4px;
  box-shadow: 0 3px 0 0 #555;
  color: white;
  display: block;
  left: 264px;
  padding: 10px 38px;
  position: absolute;
  top: 230px;
  z-index: 502;
}

#instructions-close-btn:hover {
  background: #555;
}

#menu {
  padding: 100px 100px;
  position: relative;
}

#menu h1, h4 {
  color: #493E2E;
  font-weight: normal;
  text-align: center;
  text-shadow: 0 1px 0 rgba(255, 255, 255, .6);
}

#menu h4 {
  margin-top: 20px;
  padding: 0 40px;
}

#menu > div {
  padding: 0 200px;
}

#menu form {
  display: block;
  padding: 0 0 0 74px;
  margin: 50px auto 0;
}

#menu form label {
  color: #333;
}

#menu form button {
  background: #F65530;
  border: none;
  border-radius: 4px;
  box-shadow: 0 3px 0 0 #BA3A24;
  display: block;
  padding: 10px 38px;
  position: relative;
}

#menu form button:hover {
  background: #BA3A24;
}

#menu form button#instructions-btn {
  background: #777;
  box-shadow: 0 3px 0 0 #555;
  float: left;
}

#menu form button#instructions-btn:hover {
  background: #555;
}

/* Game */

#game {
  height: 100%;
  width: 100%;
}

#graphics-container {
  height: 320px;
  margin: 90px auto 0;
  width: 320px;
}

#center-fix {
  left: 280px;
  position: absolute;
  top: 225px;
}

#info-bar {
  position: absolute;
  right: 15px;
  top: 0px;
}

#info-bar .info-tab, #loop-info {
  background: rgba(255, 255, 255, 0.5);
  display: inline-block;
  margin: 0 -1px;
  padding: 5px 10px;
  
}

#info-bar .info-tab, #info-bar .info-tab *, #loop-info, #loop-info * {
  color: #333;
  font-size: 14px;
  font-weight: bold;
}

#level-info span {
  padding-left: 10px;
}

#score-info {
  position: relative;
  width: 100px;
}

#score-info span {
  position: absolute;
  right: 10px;
  text-align: right;
}

#countdown {
  color: #333;
  font-size: 25px;
  font-weight: bold;
  position: absolute;
  text-align: center;
  top: 240px;
  width: 100%;
}

#added-score {
  font-size: 20px;
  position: absolute;
  right: 30px;
  top: 40px;
}

#multiplier {
  background: rgba(0, 0, 0, 0.3);
  display: table;
  height: 40px;
  position: absolute;
  right: 14px;
  top: 30px;
  width: 65px;
}

#multiplier p {
  color: #fff;
  display: table-cell;
  font-size: 20px;
  font-weight: bold;
  padding-right: 10px;
  text-align: right;
  vertical-align: middle;
}

#loop-info {
  position: absolute;
  left: 10px;
  top: 0px;
}

#progress-container {
  bottom: 0px;
  color: #333;
  position: absolute;
  width: 100%;
}

#progress {
  background: rgba(255, 255, 255, 0.5);
  margin: 0 5px;
  padding: 10px;
}

#progress * {
  color: #333;
  opacity: .5;
}

#progress span {
  font-size: 14px;
  font-weight: bold;
  margin: 0 5px;
}

#progress .active {
  opacity: 1;
}

.progress-mark {
  background: #333;
  border-radius: 50%;
  display: inline-block;
  height: 10px;
  margin: 0 2px 0px;
  width: 10px;
}

#spacebar-container {
  background: rgba(255, 255, 255, 0.5);
  bottom: 0;
  left: 50%;
  margin-left: -80px;
  padding: 13px 0;
  position: absolute;
  width: 160px;
}

#spacebar {
  background: rgba(255, 255, 255, .7);
  border: 1px solid #333;
  border-radius: 3px;
  bottom: 10px;
  color: #333;
  font-size: 16px;
  font-weight: bold;
  margin: 0 auto;
  opacity: .85;
  padding: 5px;
  text-align: center;
  transition: all 50ms;
  width: 120px;
}

#dialog-container, #message-container {
  background: rgba(0, 0, 0, .4);
  left: 50%;
  margin: 0 0 0 -140px;
  padding: 10px;
  position: absolute;
  top: 150px;
  width: 260px;
  z-index: 100;
}

#message-container {
  margin: 0 0 0 -190px;
  width: 340px;
}

#dialog, #message {
  background: #fff;
  padding: 20px;
}

#dialog-left, #dialog-right {
  display: inline-block;
  height: 100%;
  position: relative;
  text-align: left;
  width: 45%;
}

#dialog-left {
  text-align: right;
}

#dialog-right {
  padding-left: 10px;
}

#dialog p {
  color: #333;
  font-size: 24px;
  margin: 15px 0;
}

#dialog-right p {
  font-weight: bold;
}

#message h3, #message span {
  color: #333;
  font-size: 24px;
  font-weight: bold;
}

#message h3 {
  text-align: center;
}

#message p {
  color: #333;
  font-size: 20px;
  line-height: 26px;
  margin: 15px 0;
}
