* {
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

body {
  background: rgb(178, 223, 245);
}

#game-container {
  background-image: url(../img/bg.png);
  border: 10px solid rgba(255, 255, 255, 1);
  border-radius: 3px;
  box-shadow: 0 0 0 1px #8bb8d2;
  height: 530px;
  margin: 30px auto;
  position: relative;
  width: 640px;
}

#menu {
  padding: 20px;
  position: relative;
}

#menu h1 {
  color: #333;
  margin-bottom: 20px;
  text-align: center;
}

#menu > div {
  padding: 0 200px;
}

#menu form {
  display: block;
  padding: 0 100px;
  margin: 20px auto;
}

#menu form label {
  color: #333;
}

#menu form button {
  background: #F65530;
  border: none;
  border-radius: 4px;
  box-shadow: 0 3px 0 0 #BA3A24;
  display: block;
  left: 175px;
  margin-top: 30px;
  padding: 10px 38px;
  position: relative;
}

#menu form button:hover {
  background: #BA3A24;
}

#instructions-btn {
  background: #999;
  border-radius: 50%;
  bottom: 45px;
  color: white;
  font-size: 18px;
  height: 24px;
  left: 426px;
  margin: 0 0 0 -12px;
  padding: 2px;
  position: absolute;
  text-align: center;
  width: 24px;
}

#instructions-btn:hover {
  background: #888;
  text-decoration: none;
}



/* Game */

#game {
  height: 100%;
  width: 100%;
}

#graphics-container {
  height: 300px;
  margin: 90px auto 0;
  width: 300px;
}

#info-bar {
  position: absolute;
  right: 20px;
  top: 0px;
}

#info-bar .info-tab, #loop-info {
  background: rgba(255, 255, 255, 0.5);
  display: inline-block;
  margin: 0 -1px;
  padding: 5px 10px;
  
}

#info-bar .info-tab, #info-bar .info-tab *, #loop-info, #loop-info * {
  color: #333;
  font-size: 14px;
  font-weight: bold;
}

#level-info span {
  padding-left: 10px;
}

#score-info {
  position: relative;
  width: 120px;
}

#score-info span {
  position: absolute;
  right: 10px;
  text-align: right;
}

#listen, #play {
  color: #333;
  font-size: 25px;
  font-weight: bold;
  position: absolute;
  text-align: center;
  top: 230px;
  width: 100%;
}

#added-score {
  font-size: 20px;
  position: absolute;
  right: 30px;
  top: 40px;
}

#multiplier {
  background: rgba(0, 0, 0, 0.3);
  display: table;
  height: 40px;
  position: absolute;
  right: 19px;
  top: 30px;
  width: 65px;
}

#multiplier p {
  color: #fff;
  display: table-cell;
  font-size: 20px;
  font-weight: bold;
  padding-right: 10px;
  text-align: right;
  vertical-align: middle;
}

#loop-info {
  position: absolute;
  left: 10px;
  top: 0px;
}

#circle-outer, #circle-middle, #circle-inner {
  border-radius: 50%;
  left: 50%;
  position: absolute;
  top: 240px;
  transition: all 300ms;
}

#circle-outer {
  border: 6px solid #9A682F;
  height: 290px;
  margin: -151px 0 0 -151px;
  opacity: .6;
  width: 290px;
}

#circle-middle {
  border: 42px solid #9A682F;
  height: 206px;
  margin: -145px 0 0 -145px;
  opacity: .4;
  width: 206px;
}

#circle-inner {
  border: 6px solid #9A682F;
  height: 194px;
  margin: -103px 0 0 -103px;
  opacity: .6;
  width: 194px;
}

/*
#circle-outer.combo, #circle-inner.combo {
  border-color: #fff !important;
}

#circle-middle.combo {
  border-color: #888 !important;
}
*/

#circle-outer.combo {
/*   box-shadow: 0 0 20px 5px #fff;/* #49ACE1; */
/*   border-color: #fff !important; */
  transition: all 300ms;
}

#circle-inner.combo {
/*   box-shadow: inset 0 0 20px 5px #fff;/* #49ACE1; */ 
/*   border-color: #fff !important; */
  transition: all 300ms;
}

#progress-container {
  
  bottom: 0px;
  color: #333;
  
  position: absolute;
  width: 100%;
}

#progress {
  background: rgba(255, 255, 255, 0.5);
  display: table;
  margin: 0 auto;
  padding: 10px;
}

#progress * {
  color: #333;
  opacity: .5;
}

#progress span {
  font-size: 14px;
  font-weight: bold;
  margin: 0 5px;
}

#progress .active {
  opacity: 1;
}

.progress-mark {
  background: #333;
  border-radius: 50%;
  display: inline-block;
  height: 10px;
  margin: 0 2px 0px;
  width: 10px;
}

.cue, .cue-hit, .cue-miss {
  border: 8px solid #9A682F;
  border-radius: 50%;
  height: 24px;
  left: 0;
  margin: -20px 0 0 -20px;
/*   opacity: .7; */
  position: absolute;
  transition: all 2s;
  width: 24px;
}

.cue-hit, .cue-miss {
  border: none;
  height: 24px;
  left: 0;
  margin: -12px 0 0 -12px;
/*   opacity: .7; */
  position: absolute;
  transition: all 2s;
  width: 24px;
}

.cue {
  background: #9A682F;
  border-color: #9A682F;
}

.cue-hit {
  background: #82E163;
/*   border-color: #82E163; */
}

.cue-miss {
  background: #D73B41;
  
/*   border-color: #D73B41; */
}

/*
.cue.highlighted {
  border-color: green;
  background: #87051C;
  transition: all 1ms;
}
*/

#marker {
  background: rgba(255, 255, 255, .3);/*none;/*#333;/*#EF2139;*/
  border: 8px solid #fff;
  border-radius: 50%;
  height: 24px;
  left: 50%;
  margin: -20px 0 0 -20px;
  position: absolute;
  top: 116px;
  width: 24px;
  z-index: 50;
}

#marker.pressed {
/*   background: #fff; */
}

/*
.hit-indicator {
  background: #49ACE1;
  border-radius: 50%;
  height: 24px;
  margin: -12px 0 0 -12px;
  position: absolute;
  width: 24px;
}
*/

#spacebar {
  background: #ddd;
  border: 2px solid #aaa;
  border-radius: 5px;
  bottom: 10px;
/*   box-shadow: 0 0px 6px 0 rgba(0, 0, 0, 0.5); */
  color: #333;
  font-size: 16px;
  right: 10px;
  
  opacity: .85;
  padding: 5px;
  position: absolute;
  text-align: center;
  transition: all 50ms;
  width: 120px;
}

#spacebar.pressed {
/*   background: #ccc; */
  box-shadow: none;
/*   bottom: 65px; */
  transition: all 50ms;
}

#dialog-container {
  background: rgba(0, 0, 0, .4);
  left: 50%;
  margin: 0 0 0 -110px;
  padding: 10px;
  position: absolute;
  text-align: center;
  top: 150px;
  width: 200px;
  z-index: 100;
}

#dialog {
  background: #fff;
  padding: 20px;
}

#dialog p {
  color: #333;
  font-size: 24px;
  margin: 15px 0;
}
