* {
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

body {
  background: rgb(178, 223, 245);
}

#game-container {
  background-image: url(../img/bg.png);
  border: 10px solid rgba(255, 255, 255, 1);
  border-radius: 3px;
  box-shadow: 0 0 0 1px #8bb8d2;
  height: 530px;
  margin: 30px auto;
  position: relative;
  width: 640px;
}

#menu {
  padding: 20px;
  position: relative;
}

#menu h1 {
  color: #333;
  margin-bottom: 20px;
  text-align: center;
}

#menu > div {
  padding: 0 200px;
}

#menu form {
  display: block;
  padding: 0 100px;
  margin: 20px auto;
}

#menu form label {
  color: #333;
}

#menu form button {
  background: #F65530;
  border: none;
  border-radius: 4px;
  box-shadow: 0 3px 0 0 #BA3A24;
  display: block;
  left: 175px;
  margin-top: 30px;
  padding: 10px 38px;
  position: relative;
}

#menu form button:hover {
  background: #BA3A24;
}

#instructions-btn {
  background: #999;
  border-radius: 50%;
  bottom: 45px;
  color: white;
  font-size: 18px;
  height: 24px;
  left: 426px;
  margin: 0 0 0 -12px;
  padding: 2px;
  position: absolute;
  text-align: center;
  width: 24px;
}

#instructions-btn:hover {
  background: #888;
  text-decoration: none;
}

/* Game */

#game {
  height: 100%;
  width: 100%;
}

#graphics-container {
  height: 320px;
  margin: 90px auto 0;
  width: 320px;
}

#center-fix {
  left: 268px;
  position: absolute;
  top: 212px;
}

#info-bar {
  position: absolute;
  right: 20px;
  top: 0px;
}

#info-bar .info-tab, #loop-info {
  background: rgba(255, 255, 255, 0.5);
  display: inline-block;
  margin: 0 -1px;
  padding: 5px 10px;
  
}

#info-bar .info-tab, #info-bar .info-tab *, #loop-info, #loop-info * {
  color: #333;
  font-size: 14px;
  font-weight: bold;
}

#level-info span {
  padding-left: 10px;
}

#score-info {
  position: relative;
  width: 120px;
}

#score-info span {
  position: absolute;
  right: 10px;
  text-align: right;
}

#listen, #play {
  color: #333;
  font-size: 25px;
  font-weight: bold;
  position: absolute;
  text-align: center;
  top: 240px;
  width: 100%;
}

#added-score {
  font-size: 20px;
  position: absolute;
  right: 30px;
  top: 40px;
}

#multiplier {
  background: rgba(0, 0, 0, 0.3);
  display: table;
  height: 40px;
  position: absolute;
  right: 19px;
  top: 30px;
  width: 65px;
}

#multiplier p {
  color: #fff;
  display: table-cell;
  font-size: 20px;
  font-weight: bold;
  padding-right: 10px;
  text-align: right;
  vertical-align: middle;
}

#loop-info {
  position: absolute;
  left: 10px;
  top: 0px;
}

#progress-container {
  bottom: 0px;
  color: #333;
  position: absolute;
  width: 100%;
}

#progress {
  background: rgba(255, 255, 255, 0.5);
  display: table;
  margin: 0 auto;
  padding: 10px;
}

#progress * {
  color: #333;
  opacity: .5;
}

#progress span {
  font-size: 14px;
  font-weight: bold;
  margin: 0 5px;
}

#progress .active {
  opacity: 1;
}

.progress-mark {
  background: #333;
  border-radius: 50%;
  display: inline-block;
  height: 10px;
  margin: 0 2px 0px;
  width: 10px;
}

#spacebar {
  background: #ddd;
  border: 2px solid #aaa;
  border-radius: 5px;
  bottom: 10px;
  color: #333;
  font-size: 16px;
  opacity: .85;
  padding: 5px;
  position: absolute;
  right: 10px;
  text-align: center;
  transition: all 50ms;
  width: 120px;
}

#dialog-container {
  background: rgba(0, 0, 0, .4);
  left: 50%;
  margin: 0 0 0 -140px;
  padding: 10px;
  position: absolute;
  top: 150px;
  width: 260px;
  z-index: 100;
}

#dialog {
  background: #fff;
  padding: 20px;
}

#dialog-left, #dialog-right {
  display: inline-block;
  height: 100%;
  position: relative;
  text-align: left;
  width: 45%;
}

#dialog-left {
  text-align: right;
}

#dialog-right {
  padding-left: 10px;
}

#dialog p {
  color: #333;
  font-size: 24px;
  margin: 15px 0;
}

#dialog-right p {
  font-weight: bold;
}
